# ==========================
# CONFIGURACIÓN DEL API
# ==========================
VITE_API_URL=https://pixel-salud-portfolio.onrender.com

# ==========================
# WHATSAPP
# ==========================
VITE_WHATSAPP_NUMBER=3813487709
